 .events-list-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
 }
 .events-title {
   text-align: center;
 }
 .events-heading {
   font-size: 40px;
 }
 .events-page {
  height: 100vh;
  overflow: auto;
 }