.event-checkbox-container {
    width: 28%;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(rgba(13, 20, 174, 1) 0%, rgba(243, 165, 140, 1) 90%);
}
.event-checkbox {
    width: 14px;
    height: 14px;
    margin-right: 12px;
}