.event-detail-body-container {
    width: 100vw;
    padding: 10px;
}
.event-detail-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-detail-image {
    height: 350px;
}
.event-detail-matter-container {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-detail-details {
    align-self: flex-start;
}

.detail-desc {
    font-weight: bold;
}
.event-detail-page {
    height: 100vh;
}
.event-detail-heading {
    font-size: 30px;
    text-align: center;
    margin: 0px;
}
.event-detail-desc-heading {
    font-size: 20px;
}