.header-container {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,236,231,1) 0%, rgba(255,143,108,1) 90.1% );
}
.logo-container{
    display: flex;
    justify-content: space-between;
}
.main-title {
    font-size: 50px;
}
.events-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 80px;
    width: 140px;
}