.gallery-wrapper {
    padding: 20px;
    height: 100%;
    width: 100%;
}
.gallery-text-container {
    background-image: url("https://raw.githubusercontent.com/kartheek542/ubuntu-test/main/My%20project-1-min.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-heading {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: #ffffff;
    font-size: 60px;
}